html{
	background-color:#222222;
}
body{
	
}
div{
	margin-top: 10px;
}
h1,h2,p{
	margin: 1px;
	height: auto;
	color: #ffffff;
}
article{
	height: auto;
}
header{
	margin:1px;
	margin-bottom: 25px;
	border-style:solid;
	border-color: #ffffff;
	border-radius: 20px ;
	padding:5px;
	text #ffffff;
	text-shadow: 0px 1px 0px #000000;
	background: #9FABB0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:  14px;
	font-weight:bolder;
	text-align: center;
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;	
}

section{
	margin:1px;
	margin-bottom: 25px;
	border-style:solid;
	border-radius: 10px 10px 10px 10px;
	border-color: #ffffff;
	padding:5px;
	text-shadow: 0px 1px 0px #000000;
	background: #9FABB0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:  14px;
	font-weight:bolder;
	text-align: center;
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;	
}
.shadow1 {
	border-radius:  5px;
	-moz-box-shadow: 10px 10px 17px #0a0a0a;
	-webkit-box-shadow: 10px 10px 17px #0a0a0a;
	box-shadow: 10px 10px 17px #0a0a0a;
}
.vid{
	color: #FFFFFF;
}
a{
	text-decoration: none;
		color: #FFFFFF;

}
#vidLinks{
	margin: 10px;
	text-align: justify;
}

button {
/*display: inline-block;
border: 0px solid #ffffff;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 14px Arial;
font-weight: bold;
padding: 5px 16px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-shadow:0px 0px 0px #444444;
-moz-box-shadow:inset 0px 0px 0px 0px #444444;
-webkit-box-shadow:inset 0px 0px 0px 0px #444444;
box-shadow:inset 0px 0px 0px 0px #444444;
color: #ffffff;
background: #e928d6;
background-image: -webkit-gradient(linear, left top, left bottom, from(#e928d6), to(#f285dc));
background-image: -moz-linear-gradient(top,  #e928d6,  #f285dc);
background-image:     -ms-linear-gradient(top, #e928d6,  #f285dc);
background-image:      -o-linear-gradient(top, #e928d6,  #f285dc);
background-image:         linear-gradient(top, #e928d6,  #f285dc);
filter:  progid:DXImaGETransform.Microsoft.gradient(startColorstr='#e928d6', endColorstr='#f285dc');
*/
	-moz-box-shadow: 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #fcfcfc 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cccccc');
	background-color:#fcfcfc;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #0a0a0a;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;

}
button:hover {
/*
background: #e928d6;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f285dc), to(#e928d6));
background-image: -moz-linear-gradient(top,  #f285dc,  #e928d6);
background-image:     -ms-linear-gradient(top, #f285dc,  #e928d6);
background-image:      -o-linear-gradient(top, #f285dc,  #e928d6);
background-image:         linear-gradient(top, #f285dc,  #e928d6);
filter:  progid:DXImaGETransform.Microsoft.gradient(startColorstr='#f285dc', endColorstr='#e928d6');
text-decoration: none;
color: #ffffff;
*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #fcfcfc) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #fcfcfc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#fcfcfc');
	background-color:#cccccc;
}
button:active {
color: #ffffff;
position: relative;
top: 1px;
}