{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/iawt"
    },
    "cloudant": {
      "db": "https://ightestedialaternimescri:uwXIrrxPWDA5TEXFkavk0e4a@dbertubin.cloudant.com/iawt"
    }
  }
}
